@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

body {
  /* Use absolute path so Vite picks up the image from /public at build time */
  background: url('/bg_game-m10Pk1HC.jpg') no-repeat center center fixed;
  background-size: cover;
}